* {
        box-sizing: border-box;
    }
    
    .header-panel {
    	background-color: #000;
        height: 144px;
        position: relative;
        z-index: 3;
        margin-bottom: 20px;
    }
    #spots::before{
        background-image: url(../img/bus.jpeg);
    }
    #playlist::before{
        background-image: url(../img/turkey.jpeg);
    }
    #logins::before {
    	background-image: url(../img/train.jpeg);
    }
    .header-panel::before {
    	content: "";
    	opacity: 0.6;
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    
    .header-panel div {
        position: relative;
        height: 100%;
    }
    
    .header-panel h3 {
        color: #ddd;
        font-size: 15px;
        font-weight: 200;
        position: absolute;
        bottom: 10px;
        padding-left: 15px;
    }
    
    .header-panel h1 {
        color: #FFF;
        font-size: 22px;
        font-weight: 400;
        position: absolute;
        bottom: 45px;
        padding-left: 15px;
    }
    
    .btn {
    	padding: 4px 3px;
    }
    #add-spot {
    	background-color: #ccc;
        color: rgba(0, 0, 0, 0.62);
        position: fixed;
        margin-top: -45px;
        right: 10px;
        z-index: 100;
    }
    #add-spot i {
    	top: 0;
    }