<div class="header-panel" id="logins">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Login</h1>
                <h3>Choose where your music is and log in</h3>
            </div>
        </div>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item">
        <div class="row-picture">
            <img class="circle" src="../img/android-6-48.png" style="padding: 9px;" alt="icon">
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">My local music on Android device</h4>
            <!-- <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p> -->
        </div>
    </div>

    <div class="list-group-separator"></div>

    <div id="fb-root"></div>
    <!-- <fb:login-button scope="public_profile,email,user_likes" onlogin="checkLoginState();" data-auto-logout-link="true">
</fb:login-button> -->
    <div class="list-group-item" ng-click="testthis();">
        <div class="row-picture">
            <img class="circle" src="../img/facebook-48.png" style="padding: 9px;" alt="icon">
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">My list of likes on Facebook</h4>
            <!-- <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p> -->
        </div>
    </div>

    <div class="list-group-separator"></div>

    <div class="list-group-item">
        <div class="row-picture">
            <img class="circle" src="../img/8tracks.png" style="padding: 9px;" alt="icon">
        </div>
        <div class="row-content">
            <h4 class="list-group-item-heading">My Favorite mixes on 8Tracks</h4>
            <!-- <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p> -->
        </div>
    </div>

    <div class="list-group-separator"></div>
</div>
