<div class="header-panel" id="playlist">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Playlist</h1>
                <h3>These are the songs coming next!</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main">
    <div class="row" style="background-color: #999;">
        <div class="col-xs-3"></div>
        <div class="col-xs-2">
            <button class="btn" id="prev"><i class="mdi-av-fast-rewind"></i>
            </button>
        </div>
        <div class="col-xs-2">
            <button class="btn" id="play"><i class="mdi-av-play-arrow"></i>
            </button>
        </div>
        <div class="col-xs-2">
            <button class="btn" id="next"><i class="mdi-av-fast-forward"></i>
            </button>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>
