<div class="header-panel" id="spots">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Spots</h1>
                <h3>Choose your spot to join the playlist</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-fab btn-material-grey-200" id="add-spot"><i class="mdi-content-add"></i>
                <div class="ripple-wrapper"></div>
            </button>
        </div>
    </div>
</div>
