<div class="header-panel" id="spots">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Spots</h1>
                <h3>Choose your spot to join the playlist</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-fab btn-material-grey-200" id="add-spot"><i class="mdi-content-add"></i>
                <div class="ripple-wrapper"></div>
            </button>
        </div>
    </div>
</div>
<div class="list-group">
    <div ng-repeat="spot in spots">
        <div class="list-group-item" ng-click="sendSelectedSpot(spot.objectId);">
            <div class="row-picture">
                <i class="circle mdi-maps-place" alt="icon"></i>
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">{{spot.name}}</h4>
                <p class="list-group-item-text">click here to join this room</p>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>
</div>
