<div class="header-panel shadow-z-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>Spots</h1>
                <h3>Choose the spot you are in <br> to join the playlist</h3>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid main">
    <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-fab btn-material-grey-200" id="add-spot"><i class="mdi-action-open-in-new"></i>
                <div class="ripple-wrapper"></div>
            </button>
        </div>
    </div>
</div> -->
